appdirs==1.4.3
asgiref==3.2.5
astroid==2.3.3
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
distlib==0.3.0
Django==3.1.6
django-filter==2.2.0
djangorestframework==3.11.0
filelock==3.0.12
idna==2.9
isort==4.3.21
lazy-object-proxy==1.4.3
Markdown==3.2.1
mccabe==0.6.1
pycodestyle==2.5.0
pylint==2.4.4
pytz==2019.3
requests==2.23.0
responses==0.10.12
six==1.14.0
sqlparse==0.3.1
urllib3==1.25.8
virtualenv==20.0.13
wrapt==1.11.2
